.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  border-radius: 9999px;
  transition: all 0.5s ease;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 8px;
  background-color: #ccc;
  border-radius: 9999px;
}
