.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--color-dark);
  opacity: 1;
  border-radius: 9999px;
  transition: all 0.5s ease;
}

.dark .swiper-pagination-bullet {
  background-color: rgba(43, 43, 43, 0.5);
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 8px;
  background-color: var(--color-light);
  border-radius: 9999px;
}

.dark .swiper-pagination-bullet-active {
  background-color: var(--color-dark);
}

@media (max-width: 767px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
